<h2 class="text-center text-3xl font-bold">HEADLINES</h2>

<section class="flex w-full flex-col items-center">
	<div class="flex w-full items-center justify-center p-4">
		<hlm-carousel [options]="{ loop: true }" class="max-w-1/2" [plugins]="plugins">
			<hlm-carousel-content>
				@for (headline of headlines(); track headline.id) {
					<hlm-carousel-item>
						<div class="p-1">
							<section
								hlmCard
								class="border-border/40 min-h-[500px] w-full overflow-hidden rounded-xl border shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-lg"
							>
								<app-headline
									[headline]="headline"
									[headlineCount]="currentHeadline()"
									[headlinesTotal]="headlinesTotal()"
								></app-headline>
							</section>
						</div>
					</hlm-carousel-item>
				}
			</hlm-carousel-content>
			<button hlm-carousel-previous (click)="prev()">
				<span class="sr-only">carousel previous button</span>
			</button>
			<button hlm-carousel-next (click)="next()"><span class="sr-only">carousel next button</span></button>
		</hlm-carousel>
	</div>

	<a routerLink="/articles" class="hover:text-primary mt-1 mb-5 justify-between gap-2 underline transition">
		Alle Artikel anzeigen
	</a>
</section>
