<div
  hlmCardContent
  class="grid grid-rows-[auto_1fr] items-center justify-center object-cover"
>
  <div class="w-full h-auto rounded-lg">
    <img src="/articleImg.jpg" alt="headline picture" />
  </div>

  <div>
    <div hlmCardContent class="flex flex-col gap-4 py-6">
      <h3 hlmCardTitle class="text-xl font-bold">{{ headline().title }}</h3>
      <p hlmCardDescription>{{ headline().summary }}</p>
    </div>

    <div hlmCardFooter class="flex justify-center pt-0">
      <button hlmBtn size="sm" class="flex gap-2">
        {{ headlineCount() + "/" + headlinesTotal() }}
      </button>
    </div>
  </div>
</div>
